name: Sync Nj2 & OSS
on:
    push:
        branches:
            - master
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@master

            - name: deploy
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST_NANJING2 }}
                  username: ${{ secrets.DEPLOY_USER }}
                  key: ${{ secrets.DEPLOY_KEY }}
                  script: |
                      cd /www/wwwroot/jx3box/data
                      cd jx3box-data
                      git pull origin master

    sync-to-oss:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@master

            - name: OSS
              uses: manyuanrong/setup-ossutil@v2.0
              with:
                  endpoint: "oss-cn-hangzhou.aliyuncs.com"
                  access-key-id: ${{secrets.AccessKey_ID_CDN}}
                  access-key-secret: ${{secrets.Access_Key_Secret_CDN}}
            - run: ossutil cp -rf data oss://jx3box/data
